*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.main{
   width: 100%;
   
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 32px);
    padding: 0 16px;
}
a{
   text-decoration: none;
}
li{
    list-style-type: none;
}
.left{
    width: 50%;
    text-align: left;
}
.left a{
    border: 1px solid #e6e6e6;
    padding: 8px;
    height: 100px;
    border-radius: 50%;
    color: rgb(119, 115, 115);
}
.left a:hover{
    color: #fff;
    background: red;
    transition: 0.3s all ease;;
    cursor: pointer;
}
.Logo{
    margin-left: 50px;
    width: 50%;
}
.Logo a{
    color: black;
}
.Logo p{
    font-size: 12px;
    font-weight: 500;
    color: rgba(0,0,0,.3);
    margin-left: 20px;
}
i{
    
}
.right{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.right_input{
    width: 30%;
   
}
.right_input { 
    position: relative;
    
}
.right_input input{
    width: calc(100% - 64px);
    padding: 12px 30px;
    border-radius: 30px;
    border: 1px solid transparent;
    background: rgb(238, 236, 236);
}
.right_input button{
    position: absolute;
    right:0;
    top: 0%;
    height: 42px;
    padding: 0 12px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background: red;
    color: #fff;
    border: 1px solid transparent;
    cursor: pointer;
}
.right_input button{
    border-right: 50%;
}

.bottom{
    margin-top: 30px;
    height: 60px;
    background: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{

}
.nav{

}
.subnav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subnav li{
    display: flex;
    align-items: center;
    position: relative;
}
.subnav a::before{
    position: absolute;
    bottom: 10px;
    left: 0px;
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: red;
    transition: 1s;
}

.subnav a:hover:before{
    width: 100px;

}


.subnav a{
    padding: 24px;
    cursor: pointer;
    color: #fff;
}
.subnav a:hover{
    color: red;
    transition: 0.2s ease-in;
}
.subnav1 i{
    font-size: 15px;
    margin-left: 5px;
}
.subnav{
    position: relative;
}
.subnav_1{
    position: absolute;
    top: 100%;
    box-shadow: 0 8px 15px 0 rgb(0 0 0 / 15% );
    background: #fff;
    width: 30%;
    display: none;
}
.subnav_1 a{
    width: 100%;
    color:#000;
    padding: 16px;
}
.subnav_1 a:hover{
    background: red;
    color: #fff;
} 
.subnav1:hover .subnav_1{
    display: block;
}
nav button {
    display: flex;
    justify-content: center;
}
@media screen and(max-width : 769px) {
    
}